.navbar{
    backdrop-filter:blur(15px);
}

.nav-links a{
    position:relative;
}

.nav-links a::after{

    content:'';

    position:absolute;

    left:0;
    bottom:-5px;

    width:0;
    height:2px;

    background:var(--primary);

    transition:.3s;
}

.nav-links a:hover::after{
    width:100%;
}

.search-box input:focus{

    border-color:var(--primary);

    box-shadow:
    0 0 0 4px rgba(79,70,229,.1);
}